{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="{% static 'perfil-foto-nc.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portafolio Nicolás Cano Leal</title>
    <script type="module" crossorigin src="{% static 'index-XYZ.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'index-XYZ.css' %}">
  </head>
  <body>
    <div id="root"></div>

    <a href="{% static 'NicolasCano_BackendDeveloper_CV.pdf' %}" download>
      Descargar CV →
    </a>
  </body>
</html>
