{% load static %}

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="{% static 'frontend/dist/favicon.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portafolio — Nicolás Cano Leal</title>
    {% if vite_js %}
      <script type="module" crossorigin src="{% static 'frontend/dist/' %}{{ vite_js }}"></script>
    {% endif %}
    {% if vite_css %}
      <link rel="stylesheet" crossorigin href="{% static 'frontend/dist/' %}{{ vite_css }}">
    {% endif %}
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
